body {
    background-color: #000000; /* Couleur de fond noire */
    color: #FFFFFF; /* Couleur de texte blanche */
    font-family: fantasy, serif; /* Police de caractères */
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container_2 {
    display: flex;
    justify-content: center;
    align-items: right;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

.explanation {
    margin-left: 180px;
    margin-right: 180px;
    font-size: 20px;
    font-weight: bold;
}

.background{
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    filter: grayscale(1);
}

.inventory_slot_empty{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.inventory_slot_checkbox{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

/* General styles for all inventory slots */
.inventory_slot {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    filter: grayscale(1);
    opacity: 0.8;
}
.inventory_slot_colored {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    clip-path: rect(100px 100px 100px 0px);
}

/* General styles for all descriptions */
.description {
    width: 200px;
    min-height: 100px;
    position: absolute;
    z-index: 4;
    background-color: black;
    opacity: 0.8;
    border-style: solid;
    border-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

/* Hover effect for empty slots */
.inventory_slot_empty:hover + .description {
    visibility: visible;
}

/* Specific positioning for daggers */
.daggers {
    top: 100px;
    left: 100px;
}
.daggers_description {
    visibility: hidden;
    top: 200px;
    left: 150px;
}
.daggers_empty {
    top: 100px;
    left: 100px;
}
.daggers_empty:hover + .daggers_description {
    visibility: visible;
}

/* Specific positioning for straight_swords */
.straight_swords {
    top: 250px;
    left: 100px;
}
.straight_swords_description {
    visibility: hidden;
    top: 350px;
    left: 150px;
}
.straight_swords_empty {
    top: 250px;
    left: 100px;
}
.straight_swords_empty:hover + .straight_swords_description {
    visibility: visible;
}

/* Specific positioning for greatswords */
.greatswords {
    top: 400px;
    left: 100px;
}
.greatswords_description {
    visibility: hidden;
    top: 500px;
    left: 150px;
}
.greatswords_empty {
    top: 400px;
    left: 100px;
}
.greatswords_empty:hover + .greatswords_description {
    visibility: visible;
}

/* Specific positioning for colossal_swords */
.colossal_swords {
    top: 550px;
    left: 100px;
}
.colossal_swords_description {
    visibility: hidden;
    top: 650px;
    left: 150px;
}
.colossal_swords_empty {
    top: 550px;
    left: 100px;
}
.colossal_swords_empty:hover + .colossal_swords_description {
    visibility: visible;
}

/* Specific positioning for thrusting_swords */
.thrusting_swords {
    top: 700px;
    left: 100px;
}
.thrusting_swords_description {
    visibility: hidden;
    top: 800px;
    left: 150px;
}
.thrusting_swords_empty {
    top: 700px;
    left: 100px;
}
.thrusting_swords_empty:hover + .thrusting_swords_description {
    visibility: visible;
}

/* Specific positioning for heavy_thrusting_swords */
.heavy_thrusting_swords {
    top: 850px;
    left: 100px;
}
.heavy_thrusting_swords_description {
    visibility: hidden;
    top: 625px;
    left: 150px;
}
.heavy_thrusting_swords_empty {
    top: 850px;
    left: 100px;
}
.heavy_thrusting_swords_empty:hover + .heavy_thrusting_swords_description {
    visibility: visible;
}

/* Specific positioning for curved_swords */
.curved_swords {
    top: 100px;
    left: 250px;
}
.curved_swords_description {
    visibility: hidden;
    top: 200px;
    left: 300px;
}
.curved_swords_empty {
    top: 100px;
    left: 250px;
}
.curved_swords_empty:hover + .curved_swords_description {
    visibility: visible;
}

/* Specific positioning for curved_greatswords */
.curved_greatswords {
    top: 250px;
    left: 250px;
}
.curved_greatswords_description {
    visibility: hidden;
    top: 350px;
    left: 300px;
}
.curved_greatswords_empty {
    top: 250px;
    left: 250px;
}
.curved_greatswords_empty:hover + .curved_greatswords_description {
    visibility: visible;
}

/* Specific positioning for katanas */
.katanas {
    top: 400px;
    left: 250px;
}
.katanas_description {
    visibility: hidden;
    top: 500px;
    left: 300px;
}
.katanas_empty {
    top: 400px;
    left: 250px;
}
.katanas_empty:hover + .katanas_description {
    visibility: visible;
}

/* Specific positioning for twinblades */
.twinblades {
    top: 550px;
    left: 250px;
}
.twinblades_description {
    visibility: hidden;
    top: 650px;
    left: 300px;
}
.twinblades_empty {
    top: 550px;
    left: 250px;
}
.twinblades_empty:hover + .twinblades_description {
    visibility: visible;
}

/* Specific positioning for axes */
.axe {
    top: 700px;
    left: 250px;
}
.axe_description {
    visibility: hidden;
    top: 800px;
    left: 300px;
}
.axe_empty {
    top: 700px;
    left: 250px;
}
.axe_empty:hover + .axe_description {
    visibility: visible;
}

/* Specific positioning for greataxes */
.greataxes {
    top: 850px;
    left: 250px;
}
.greataxes_description {
    visibility: hidden;
    top: 700px;
    left: 300px;
}
.greataxes_empty {
    top: 850px;
    left: 250px;
}
.greataxes_empty:hover + .greataxes_description {
    visibility: visible;
}

/* Specific positioning for hammers */
.hammers {
    top: 100px;
    left: 400px;
}
.hammers_description {
    visibility: hidden;
    top: 200px;
    left: 450px;
}
.hammers_empty {
    top: 100px;
    left: 400px;
}
.hammers_empty:hover + .hammers_description {
    visibility: visible;
}

/* Specific positioning for flails */
.flails {
    top: 250px;
    left: 400px;
}
.flails_description {
    visibility: hidden;
    top: 350px;
    left: 450px;
}
.flails_empty {
    top: 250px;
    left: 400px;
}
.flails_empty:hover + .flails_description {
    visibility: visible;
}

/* Specific positioning for great_hammers */
.great_hammers {
    top: 400px;
    left: 400px;
}
.great_hammers_description {
    visibility: hidden;
    top: 500px;
    left: 450px;
}
.great_hammers_empty {
    top: 400px;
    left: 400px;
}
.great_hammers_empty:hover + .great_hammers_description {
    visibility: visible;
}

/* Specific positioning for colossal_weapons */
.colossal_weapons {
    top: 550px;
    left: 400px;
}
.colossal_weapons_description {
    visibility: hidden;
    top: 650px;
    left: 450px;
}
.colossal_weapons_empty {
    top: 550px;
    left: 400px;
}
.colossal_weapons_empty:hover + .colossal_weapons_description {
    visibility: visible;
}

/* Specific positioning for spears */
.spears {
    top: 700px;
    left: 400px;
}
.spears_description {
    visibility: hidden;
    top: 800px;
    left: 450px;
}
.spears_empty {
    top: 700px;
    left: 400px;
}
.spears_empty:hover + .spears_description {
    visibility: visible;
}

/* Specific positioning for great_spears */
.great_spears {
    top: 850px;
    left: 400px;
}
.great_spears_description {
    visibility: hidden;
    top: 720px;
    left: 450px;
}
.great_spears_empty {
    top: 850px;
    left: 400px;
}
.great_spears_empty:hover + .great_spears_description {
    visibility: visible;
}

/* Specific positioning for halberds */
.halberds {
    top: 100px;
    left: 550px;
}
.halberds_description {
    visibility: hidden;
    top: 200px;
    left: 600px;
}
.halberds_empty {
    top: 100px;
    left: 550px;
}
.halberds_empty:hover + .halberds_description {
    visibility: visible;
}

/* Specific positioning for reapers */
.reapers {
    top: 250px;
    left: 550px;
}
.reapers_description {
    visibility: hidden;
    top: 350px;
    left: 600px;
}
.reapers_empty {
    top: 250px;
    left: 550px;
}
.reapers_empty:hover + .reapers_description {
    visibility: visible;
}

/* Specific positioning for whips */
.whips {
    top: 400px;
    left: 550px;
}
.whips_description {
    visibility: hidden;
    top: 500px;
    left: 600px;
}
.whips_empty {
    top: 400px;
    left: 550px;
}
.whips_empty:hover + .whips_description {
    visibility: visible;
}

/* Specific positioning for kusarigama */
.kusarigama {
    top: 550px;
    left: 550px;
}
.kusarigama_description {
    visibility: hidden;
    top: 650px;
    left: 600px;
}
.kusarigama_empty {
    top: 550px;
    left: 550px;
}
.kusarigama_empty:hover + .kusarigama_description {
    visibility: visible;
}

/* Specific positioning for fists */
.fists {
    top: 700px;
    left: 550px;
}
.fists_description {
    visibility: hidden;
    top: 800px;
    left: 600px;
}
.fists_empty {
    top: 700px;
    left: 550px;
}
.fists_empty:hover + .fists_description {
    visibility: visible;
}

/* Specific positioning for claws */
.claws {
    top: 850px;
    left: 550px;
}
.claws_description {
    visibility: hidden;
    top: 735px;
    left: 600px;
}
.claws_empty {
    top: 850px;
    left: 550px;
}
.claws_empty:hover + .claws_description {
    visibility: visible;
}

/* Specific positioning for light_bows */
.light_bows {
    top: 100px;
    left: 700px;
}
.light_bows_description {
    visibility: hidden;
    top: 200px;
    left: 750px;
}
.light_bows_empty {
    top: 100px;
    left: 700px;
}
.light_bows_empty:hover + .light_bows_description {
    visibility: visible;
}

/* Specific positioning for bows */
.bows {
    top: 250px;
    left: 700px;
}
.bows_description {
    visibility: hidden;
    top: 350px;
    left: 750px;
}
.bows_empty {
    top: 250px;
    left: 700px;
}
.bows_empty:hover + .bows_description {
    visibility: visible;
}

/* Specific positioning for greatbows */
.greatbows {
    top: 400px;
    left: 700px;
}
.greatbows_description {
    visibility: hidden;
    top: 500px;
    left: 750px;
}
.greatbows_empty {
    top: 400px;
    left: 700px;
}
.greatbows_empty:hover + .greatbows_description {
    visibility: visible;
}

/* Specific positioning for crossbows */
.crossbows {
    top: 550px;
    left: 700px;
}
.crossbows_description {
    visibility: hidden;
    top: 650px;
    left: 750px;
}
.crossbows_empty {
    top: 550px;
    left: 700px;
}
.crossbows_empty:hover + .crossbows_description {
    visibility: visible;
}

/* Specific positioning for ballistas */
.ballistas {
    top: 700px;
    left: 700px;
}
.ballistas_description {
    visibility: hidden;
    top: 800px;
    left: 750px;
}
.ballistas_empty {
    top: 700px;
    left: 700px;
}
.ballistas_empty:hover + .ballistas_description {
    visibility: visible;
}

/* Specific positioning for staves */
.staves {
    top: 850px;
    left: 700px;
}
.staves_description {
    visibility: hidden;
    top: 680px;
    left: 750px;
}
.staves_empty {
    top: 850px;
    left: 700px;
}
.staves_empty:hover + .staves_description {
    visibility: visible;
}

/* Specific positioning for sacred_seals */
.sacred_seals {
    top: 100px;
    left: 850px;
}
.sacred_seals_description {
    visibility: hidden;
    top: 200px;
    left: 675px;
}
.sacred_seals_empty {
    top: 100px;
    left: 850px;
}
.sacred_seals_empty:hover + .sacred_seals_description {
    visibility: visible;
}

/* Specific positioning for tools */
.tools {
    top: 250px;
    left: 850px;
}
.tools_description {
    visibility: hidden;
    top: 350px;
    left: 675px;
}
.tools_empty {
    top: 250px;
    left: 850px;
}
.tools_empty:hover + .tools_description {
    visibility: visible;
}

/* Specific positioning for hand_guns */
.hand_guns {
    top: 400px;
    left: 850px;
}
.hand_guns_description {
    visibility: hidden;
    top: 500px;
    left: 675px;
}
.hand_guns_empty {
    top: 400px;
    left: 850px;
}
.hand_guns_empty:hover + .hand_guns_description {
    visibility: visible;
}

/* Specific positioning for long_guns */
.long_guns {
    top: 550px;
    left: 850px;
}
.long_guns_description {
    visibility: hidden;
    top: 650px;
    left: 675px;
}
.long_guns_empty {
    top: 550px;
    left: 850px;
}
.long_guns_empty:hover + .long_guns_description {
    visibility: visible;
}

/* Specific positioning for trick_weapons */
.trick_weapons {
    top: 700px;
    left: 850px;
}
.trick_weapons_description {
    visibility: hidden;
    top: 800px;
    left: 675px;
}
.trick_weapons_empty {
    top: 700px;
    left: 850px;
}
.trick_weapons_empty:hover + .trick_weapons_description {
    visibility: visible;
}

.visualisation_description {
    top: 100px;
}

/* Hide the actual checkbox */
.game-checkbox input[type="checkbox"] {
    display: none;
}

/* Style the label to show the image */
.game-checkbox img {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 2px solid gray;
    opacity: 0.6;
    transition: opacity 0.2s;
}

/* Change the appearance when the checkbox is checked */
.game-checkbox input[type="checkbox"]:checked + img {
    opacity: 1;
    border: 2px solid green;
}

.placeholder {
    position: relative;
    transform: translate(-1040px, -525px);
    z-index: 2;
}

.weapon_identifier_ER {
    height: 170px;
    transform: translate(1440px, -850px);
}

.weapon_identifier_DS {
    height: 100px;
    transform: translate(1050px, -720px);
}

.weapon_identifier_S {
    height: 60px;
    transform: translate(660px, -600px);
}

.weapon_identifier_R {
    height: 70px;
    transform: translate(400px, -510px);
}

.weapon_identifier_B {
    height: 50px;
    filter: invert();
    transform: translate(85px, -415px);
}

.weapon_identifier_N {
    height: 120px;
    transform: translate(-200px, -350px);
}

svg {
    shape-rendering: geometricPrecision;
  }

.graph-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.scholar {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.bar-plot-analysis {
    text-align: justify;
    font-size: 20px;
}

.force-graph-analysis {
    text-align: justify;
    font-size: 20px;
}

.pie-plot-analysis {
    text-align: justify;
    font-size: 20px;
    margin-left: 700px;
    margin-right: 700px;
}

.charts-container {
    display: flex;
    justify-content: space-around;
}

.chart-container {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.chart-container select {
    width: 100%;
    margin-bottom: 10px;
}

.graph-link-text {
    font-size: 20px;
}

#graph-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}

#weapon-select {
    font-size: 20px;
}

.tooltip-bg {
    fill: white;
    stroke-width: 2px;
}
  
.tooltip-text {
    font-size: 16px;
    font-weight: bold;
}
